<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{% block title %} New-North‍ {% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    <script>
        const theme = localStorage.getItem('theme');
        if (theme !== null) {
            document.documentElement.setAttribute('theme', theme);
        }
    </script>

    {% block feeds %}
    <link rel="alternate" type="application/rss+xml"
          title=N-N: Новые посты"
          href="{{ settings.APP_HOST }}{% url "rss" %}" />

    <link rel="alternate" title="N-N Blog: JSON Feed"
          type="application/feed+json"
          href="{{ settings.APP_HOST }}{% url "json_feed" %}" />
    ‍{% endblock %}

    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}

    {% include "common/favicon.html" %}
    {% include "common/css.html" %}
    {% block css %}{% endblock %}
</head>
<body>

{% block body %}
    <main id="app">
        {% block menu %}
            {% if me %}
                {% include "common/menu-full.html" %}
            {% else %}
                {% include "common/menu-simplified.html" %}
            {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer" id="footer">
        <div class="footer-left">
            <a href="{% url "docs" "about" %}"> О нас </a> 
        </div>
        <div class="footer-left">
            <label class="theme-switcher" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <span class="slider round"></span>
            </label>

            {% if me %}
                <form method="POST" action="{% url "logout" %}">
                    {% csrf_token %}
                    <button type="submit" class="footer-logout">Выйти&nbsp;<i class="fas fa-sign-out-alt"></i></button>
                </form>
            {% endif %}
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
